.box{
    margin: 1em;
    box-sizing: border-box;
}

//input euro
.st-inputeuro {
    position: relative;    
}
.st-inputeuro>input {
    font-size: 2.4rem;
    height: 4.8rem;
    width: 100%;
    padding-right: 2.4rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}
.st-inputeuro:after {
    color:rgba(0,0,0,0.2);
    position: absolute;
    top:-1.3rem;
    content:"€";
    right: 0;
    font-size: 2.4rem;
    background: transparent;
}
.st-inputeuro>input[type=number] {
    -moz-appearance: textfield;
    text-align: right;
    border-width: 0 0 2px;
    border-color: rgba(0,0,0,0.2);
}
.st-inputeuro>input::-webkit-outer-spin-button,
.st-inputeuro>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.st-inputeuro>input:focus{
    outline: none;
    border-color: rgba(0,0,0,0.5);    
}
.st-inputeuro>input:hover{
    outline: none;
    border-color: rgba(0,0,0,0.5);    
}

//input percent
.st-inputpercent {
    position: relative;    
}
.st-inputpercent>input {
    font-size: 2.4rem;
    height: 4.8rem;
    width: 100%;
    padding-right: 2.4rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}
.st-inputpercent:after {
    color:rgba(0,0,0,0.2);
    position: absolute;
    top:-1.3rem;
    content:"%";
    right: 0;
    font-size: 2.4rem;
    background: transparent;
}
.st-inputpercent>input[type=number] {
    -moz-appearance: textfield;
    text-align: right;
    border-width: 0 0 2px;
    border-color: rgba(0,0,0,0.2);
}
.st-inputpercent>input::-webkit-outer-spin-button,
.st-inputpercent>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.st-inputpercent>input:focus{
    outline: none;
    border-color: rgba(0,0,0,0.5);    
}
.st-inputpercent>input:hover{
    outline: none;
    border-color: rgba(0,0,0,0.5);    
}

.container{
    font-size: 2.4rem;
    display: grid;
    grid-template-columns: auto 1rem auto;
}
.item{
    text-align: center;
    
    height: 15rem;
}

.calc{
    line-height: 5rem;
}

.result{
    line-height: 15rem;
}
